<div class="col s3" *ngIf="!isDeleted">
  <div class="card" appHover>
    <div class="card-image">
      <img src="{{ task.image }}">
      <span class="card-title">
      {{ task.isCompleted | uppercase }}
      </span>
    </div>
    <div class="card-content">
      <p>{{ task.description }}.</p>
    </div>
    <div class="card-action">
        <a 
         class="waves-effect waves-light btn"
         (click)="onDelete()"
        >Done</a>

        <a
         id="edit_btn" 
         class="waves-effect waves-light btn"
         routerLink="/edit/{{ task.id }}"
        >Edit</a>
    </div>
  </div>